
@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_LayoutLogined.cshtml";
}

<div class="jumbotron">
    <h1>Welcome !</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Account Profile</a></p>
</div>

